<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<h1>게시판 목록</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
    <a role="button" class="btn btn-primary" th:href="@{/write}">글쓰기</a>

    <form action="/board/search" method="GET" class="form-group">
        <div class="search">
            <input  name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>


        <button class="btn btn-default">검색하기</button>
    </form>
        </div>
    </div>

    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
    </span>
    </div>
</div>

</body>

<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/board.js"></script>
</footer>
</html>